body {
	margin: 0;
	padding: 0;
	font-family: helvetica;
}

.header {

	background-color: white;
	height: 80px;
	color: darkgrey;
	display: flex;
	justify-content: space-around;
	align-items: center;
	font-size: 18px;

	.header-right {
		
		display: flex;
	    justify-content: space-between;
	    width: 200px;
	    
	    .social-icon {
			display: flex;
			justify-content: space-around;
			width: 90px;
		}
	}

	a {
		text-decoration: none;
		padding: 10px;
	}
}

.pageOne {

	height: 100vh;
	background-image: url(https://static.wixstatic.com/media/84770f_baaa1e587d314769b1581cc2e0932b53.jpg/v1/fill/w_1079,h_1093,al_c,q_85/84770f_baaa1e587d314769b1581cc2e0932b53.webp);
	background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.pageTwo {

	height: 900px;
	background-color: #4a4c67;
}