<!DOCTYPE html>
<html ng-app="myModule">
<head>
    <meta charset="utf-8">
	<title>AngularJS lessons</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0-rc.2/angular.min.js"></script>
	<script src="script.js"></script>
	<script src="stringService.js"></script>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>

<!-- Lesson 21 -->
<!-- $anchorscroll service is used to jump to a specific element on the page -->
	<div class="example" ng-controller="myController21">
		<p>Lesson 21</p>
		<button id="top" ng-click="scrollTo('bottom')">Go to bottom of the page</button>
	</div>

	<div class="example">

		<div>
			10 + 20 = {{ 10 + 20 }}
		</div>

		<div>
			{{ {name: 'David', age: '30'}.name }}
		</div>

		<div>
			{{ ['David', 'Pam', 'Sara'][2] }}
		</div>

	</div>

	<div>
		
		<div class="example" ng-controller="myController1">
			{{ message }}			
		</div>
		<div class="example" ng-controller="myController2">
			<div>
				First Name : {{ employee.firstName }}			
			</div>
			<div>
				Last Name : {{ employee.lastName }}			
			</div>
			<div>
				Gender : {{ employee.gender }}			
			</div>
		</div>

		<div class="example" ng-controller="myController3">
			<div>
				Name : {{ country.name }}
			</div>
			<div>
				Capital : {{ country.capital }}
			</div>
			<div>
				<img ng-src="{{ country.flag }}" alt="{{ country.name + ' Flag' }}" style="height: 50; width: 100px;">
			</div>
		</div>

		<div class="example" ng-controller="myController4">
			<input type="text" ng-model="message">
			<br />
			{{ message }}
		</div>

		<div class="example" ng-controller="myController5">
			<table>
				<tr>
					<td>First Name</td>
					<td>
						<input type="text" ng-model="employee.firstName">
					</td>
				</tr>
				<tr>
					<td>Last Name</td>
					<td>
						<input type="text" ng-model="employee.lastName">
					</td>
				</tr>
				<tr>
					<td>Gender</td>
					<td>
						<input type="text" ng-model="employee.gender">
					</td>
				</tr>
			</table>

			<br />

			<table>
				<tr>
					<td>First Name</td>
					<td>
						{{ employee.firstName }}
					</td>
				</tr>
				<tr>
					<td>Last Name</td>
					<td>
						{{ employee.lastName }}
					</td>
				</tr>
				<tr>
					<td>Gender</td>
					<td>
						{{ employee.gender }}
					</td>
				</tr>
			</table>

		</div>

		<div class="example" ng-controller="myController6">
			<table>
				<thead>
					<tr>
						<th>Firstname</th>
						<th>Lastname</th>
						<th>Gender</th>
						<th>Salary</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="employee in employees">
						<td>{{ employee.firstName }}</td>
						<td>{{ employee.lastName }}</td>
						<td>{{ employee.gender }}</td>
						<td>{{ employee.salary }}</td>
					</tr>
				</tbody>
			</table>
		</div>

		<div class="example" ng-controller="myController7">
			<ul>
				<li ng-repeat="country in countries">
					{{ country.name }} - Index = {{ $index }}
					<ul>
						<li ng-repeat="city in country.cities">
							{{ city.name }} - Parent Index {{ $parent.$index }}, Index = {{ $index }}
						</li>
					</ul>
				</li>
			</ul>
		</div>

		<div class="example" ng-controller="myController8">
			<table>
				<thead>
					<tr>
						<th>Name</th>
						<th>Likes</th>
						<th>Dislikes</th>
						<th>Likes/Dislikes</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="technology in technologies">
						<td>{{ technology.name }}</td>
						<td>{{ technology.likes }}</td>
						<td>{{ technology.dislikes }}</td>
						<td>
							<input type="button" value="Like" ng-click="incrementLikes(technology)">
							<input type="button" value="Dislike" ng-click="incrementDislikes(technology)">
						</td>
					</tr>
				</tbody>
			</table>
		</div>
<!-- Lesson 8 -->
		<div class="example" ng-controller="myController9">
			Rows to display: 
			<input type="number" step="1" min="0" max="5" ng-model="rowLimit">
			<br />
			<table>
				<thead>
					<tr>
						<th>Name</th>
						<th>Date of Birth</th>
						<th>Gender</th>
						<th>Salary (number)</th>
						<th>Salary (currency</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="employee in employees | limitTo:rowLimit">
						<td>{{ employee.name | uppercase }}</td>
						<td>{{ employee.dateOfBirth | date:"dd/MM/yyyy" }}</td>
						<td>{{ employee.gender | lowercase }}</td>
						<td>{{ employee.salary | number:2 }}</td>
						<td>{{ employee.salary | currency: "£": 1 }}</td>
					</tr>
				</tbody>
			</table>
		</div>
<!-- Lesson 9 -->
		<div class="example" ng-controller="myController10">
			Order by:
			<select ng-model="sortColumn">
				<option value="name">Name</option>
				<option value="gender">Gender</option>
				<option value="dateOfBirth">Date of Birth</option>
				<option value="-salary">Salary</option>
			</select>
			<br />
			<table>
				<thead>
					<tr>
						<th>Name</th>
						<th>Date of Birth</th>
						<th>Gender</th>
						<th>Salary (number)</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="employee in employees | orderBy: sortColumn">
						<td>{{ employee.name }}</td>
						<td>{{ employee.dateOfBirth | date:"dd/MM/yyyy" }}</td>
						<td>{{ employee.gender }}</td>
						<td>{{ employee.salary }}</td>
					</tr>
				</tbody>
			</table>
		</div>
<!-- Lesson 10 -->
		<div class="example" ng-controller="myController11">
			<table>
				<thead>
					<tr>
						<th ng-click="sortData('name')">Name<div ng-class="getSortClass('name')"></div></th>
						<th ng-click="sortData('dateOfBirth')">Date of Birth<div ng-class="getSortClass('dateOfBirth')"></div></th>
						<th ng-click="sortData('gender')">Gender<div ng-class="getSortClass('gender')"></div></th>
						<th ng-click="sortData('salary')">Salary (number)<div ng-class="getSortClass('salary')"></div></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="employee in employees | orderBy: sortColumn : reverseSort">
						<td>{{ employee.name }}</td>
						<td>{{ employee.dateOfBirth | date:"dd/MM/yyyy" }}</td>
						<td>{{ employee.gender }}</td>
						<td>{{ employee.salary }}</td>
					</tr>
				</tbody>
			</table>
		</div>
<!-- Lesson 11 -->
		<div class="example" ng-controller="myController12">
			Search: <input type="text" name="" placeholder="Search employees" ng-model="searchText">
<!-- 		This way we are searching in all the columns; if we want to search only in one column: ng-model="searchText.city" -->
			<br />
			<table>
				<thead>
					<tr>
						<th>Name</th>
						<th>Gender</th>
						<th>Salary</th>
						<th>City</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="employee in employees | filter:searchText">
						<td>{{ employee.name }}</td>
						<td>{{ employee.gender }}</td>
						<td>{{ employee.salary }}</td>
						<td>{{ employee.city }}</td>
					</tr>
				</tbody>
			</table>
		</div>
<!-- Lesson 12 -->
		<div class="example" ng-controller="myController12">
			Search: 
			<input type="text" name="" placeholder="Search name" ng-model="searchText.name">
			<input type="text" name="" placeholder="Search city" ng-model="searchText.city">
			<input type="checkbox" name="" ng-model="exactMatch">Exact match
<!--		this ng-model is a boolean property(automatically attached to the scope object): if the checkbox is checked than the value in that property will 			 be true otherwise false -->
			<br />
			<table>
				<thead>
					<tr>
						<th>Name</th>
						<th>Gender</th>
						<th>Salary</th>
						<th>City</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="employee in employees | filter:searchText:exactMatch">
<!--				if the value of exactMatch is true, exact match is turned on otherwise is turned off -->
						<td>{{ employee.name }}</td>
						<td>{{ employee.gender }}</td>
						<td>{{ employee.salary }}</td>
						<td>{{ employee.city }}</td>
					</tr>
				</tbody>
			</table>
		</div>

		<div class="example" ng-controller="myController13">
			Search: 
			<input type="text" name="" placeholder="Search city & name" ng-model="searchText">
			<br />
			<table>
				<thead>
					<tr>
						<th>Name</th>
						<th>Gender</th>
						<th>Salary</th>
						<th>City</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="employee in employees | filter:search">
<!--				if the value of exactMatch is true, exact match is turned on otherwise is turned off -->
						<td>{{ employee.name }}</td>
						<td>{{ employee.gender }}</td>
						<td>{{ employee.salary }}</td>
						<td>{{ employee.city }}</td>
					</tr>
				</tbody>
			</table>
		</div>
<!-- Lesson 13 -->
		<div class="example" ng-controller="myController14">
			<p>Lesson 13</p>
			<table>
				<thead>
					<tr>
						<th>Name</th>
						<th>Gender</th>
						<th>Salary</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="employee in employees">
						<td>{{ employee.name }}</td>
						<td>{{ employee.gender | gender }}</td>
						<td>{{ employee.salary }}</td>
					</tr>
				</tbody>
			</table>
		</div>
<!-- Lesson 14 -->
		<div class="example" ng-controller="myController15">
			<p>Lesson 14</p>
			<input type="checkbox" name="" ng-model="hideSalary">Hide salary
<!--		at beginning tha variable hideSalary will be undefined, for this reason we will see the salary (ng-hide = false) -->
			<br />
			<table>
				<thead>
					<tr>
						<th>Name</th>
						<th>Gender</th>
						<th>City</th>
						<th ng-hide="hideSalary">Salary</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="employee in employees">
						<td>{{ employee.name }}</td>
						<td>{{ employee.gender }}</td>
						<td>{{ employee.city}}</td>
						<td ng-hide="hideSalary">{{ employee.salary }}</td>
					</tr>
				</tbody>
			</table>
		</div>

		<div class="example" ng-controller="myController15">
			<input type="checkbox" name="" ng-model="hideSalary">Hide salary
			<br />
			<table>
				<thead>
					<tr>
						<th>Name</th>
						<th>Gender</th>
						<th>City</th>
						<th ng-show="!hideSalary">Salary</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="employee in employees">
						<td>{{ employee.name }}</td>
						<td>{{ employee.gender }}</td>
						<td>{{ employee.city}}</td>
						<td ng-hide="hideSalary">{{ employee.salary }}</td>
					</tr>
				</tbody>
			</table>
		</div>

		<div class="example" ng-controller="myController15">
			<p>Lesson 15</p>
			<input type="checkbox" ng-model="hideSalary">Hide salary
<!-- 		at beginning tha variable hidesalary will not be available on the $scope object (undefined) it means false. ng-hide=false, the hide element will be visible. ng-show=false the element will not be visible. -->
			<br />
			<table>
				<thead>
					<tr>
						<th>Name</th>
						<th>Gender</th>
						<th>City</th>
						<th ng-hide="hideSalary">Salary</th>
						<th ng-show="hideSalary">Salary</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="employee in employees">
						<td>{{ employee.name }}</td>
						<td>{{ employee.gender }}</td>
						<td>{{ employee.city}}</td>
						<td ng-hide="hideSalary">{{ employee.salary }}</td>
						<td ng-show="hideSalary">####</td>
					</tr>
				</tbody>
			</table>
		</div>
<!-- Lesson 15 -->
		<div class="example" ng-init='employees = [
					{ name: "Ben", gender: "Male", city: "London"},
					{ name: "Sara", gender: "Female", city: "Chennai"},
					{ name: "Mark", gender: "Male", city: "London"},
					{ name: "Pam", gender: "Female", city: "Chennai"},
					{ name: "Todd", gender: "Male", city: "London"},
				]'>
<!-- 	ng-init allows you to evaluate an expression in the current scope. In real world application is used a controller instead of ng-init -->
			<table>
				<thead>
					<tr>
						<th>Name</th>
						<th>Gender</th>
						<th>City</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="employee in employees">
						<td>{{ employee.name }}</td>
						<td>{{ employee.gender }}</td>
						<td>{{ employee.city }}</td>
					</tr>
				</tbody>
			</table>
		</div>
<!-- Lesson 16 -->
<!-- it works on Firefox but it doesn't work on Chrome -->
		<div class="example" ng-controller="myController16">
			<p>Lesson 16</p>
			Select view:
			<select ng-model="employeeView">
				<option value="employeeTable.html">Table</option>
				<option value="employeeList.html">List</option>
			</select>
			<br />
			<div ng-include="employeeView"></div>
		</div>
<!-- Lesson 17 -->
<!-- This exercise require a database table and shows how to use and manipulate it -->
<!-- It use the same table used before, ID, Name, Gender, Salary, but it is saved in the database -->
		<div class="example" ng-controller="myController17">
			<p>Lesson 17</p>
			<table>
				<thead>
					<tr>
						<th>ID</th>
						<th>Name</th>
						<th>Gender</th>
						<th>Salary</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="employee in employees">
						<td>{{ employee.ID }}</td>
						<td>{{ employee.name }}</td>
						<td>{{ employee.gender }}</td>
						<td>{{ employee.salary }}</td>
					</tr>
				</tbody>
			</table>
		</div>
<!-- Lesson 18 -->
<!-- This exercise require a database table and shows how to use and manipulate it -->
<!-- It use the same table used before, ID, Name, Gender, Salary, but it is saved in the database -->
		<div class="example" ng-controller="myController18">
			<p>Lesson 18</p>
			{{ error }}
			<table>
				<thead>
					<tr>
						<th>ID</th>
						<th>Name</th>
						<th>Gender</th>
						<th>Salary</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="employee in employees">
						<td>{{ employee.ID }}</td>
						<td>{{ employee.name }}</td>
						<td>{{ employee.gender }}</td>
						<td>{{ employee.salary }}</td>
					</tr>
				</tbody>
			</table>
		</div>
<!-- Lesson 19 -->
<!-- Service in Angular -->

<!-- Lesson 20 -->
<!-- Create custom service -->
		<div class="example" ng-controller="myController20">
			<p>Lesson 20</p>
			<table>
				<tr>
					<td>Your string</td>
					<td><input type="text" ng-model="input"></td>
				</tr>
				<tr>
					<td>Result</td>
					<td><input type="text" name="text" ng-model="output"></td>
				</tr>
				<tr>
					<td></td>
					<td><input type="button" ng-click="transformString(input)" value="Process String"></td>
				</tr>
			</table>
		</div>

		<div class="example" ng-controller="myController20B">
			<p>Lesson 20</p>
			<table>
				<tr>
					<td>Your string</td>
					<td><input type="text" ng-model="input"></td>
				</tr>
				<tr>
					<td>Result</td>
					<td><input type="text" name="text" ng-model="output"></td>
				</tr>
				<tr>
					<td></td>
					<td><input type="button" ng-click="transformString(input)" value="Process String"></td>
				</tr>
			</table>
		</div>
<!-- Lesson 21 -->
<!-- $anchorscroll service is used to jump to a specific element on the page -->
		<div class="example" ng-controller="myController21">
			<p>Lesson 21</p>
			<button id="bottom" ng-click="scrollTo('top')">Go to top of the page</button>
		</div>
<!-- Lesson 22 -->
<!-- $anchorscroll service with database data -->
		<div class="example" ng-controller="myController22">
			<p>Lesson 22</p>
			<span ng-repeat="country in countries">
				<button ng-click="scrollTo(country.name)">{{country.name}}</button>
			</span>
			<br />
			<div class="table-lesson22">
				<fieldset ng-repeat="country in countries" id="{{country.name}}">
					<legend>{{country.name}}</legend>
					<ul>
						<li ng-repeat="city in countries.city">
							{{city.name}}
						</li>
					</ul>
				</fieldset>
			</div>
		</div>


<!-- Lesson 23 -->
<!-- routing tutorial -->

<!-- Lesson 24 -->
<!-- layout template -->

<!-- Lesson 25 -->
<!-- partial template -->

<!-- Lesson 26 -->
<!-- route configuration -->

<!-- Lesson 27 -->

	</div>
</body>
</html>