body {
	background: lightgrey;
}

img {
	width: 300px;
	height: 300px;
}

.container {
	perspective: 10000px;
}

.cube {
	transform-style: preserve-3d;
	height: 150px;
	width: 100px;
	position: relative;
	margin: initial;
	margin: 50px auto;
}

.cube1 {
	transform: rotateX(-48deg) rotateY(25deg) rotateZ(21deg);
}

.cube2 {
	transform: rotateX(-130deg) rotateY(-18deg) rotateZ(-63deg) translateX(-332px) translateY(34px) translateZ(213px);
}

.cube3 {
	transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg) translateX(0px) translateY(0px) translateZ(0px);	
}

.cube div {
	position: absolute;
	border: 6px solid white;
	/* opacity: 0.95; */
	/*	width: 100px;
	height: 100px;*/
	background: black;
}

.front {
	width: 65px;
	height: 180px;
	background: lightblue;
	transform: translateZ(150px);
}

.back {
	width: 65px;
	height: 180px;
	transform: translateZ(-150px);
	background: darkgoldenrod;
}

.top {
	width: 65px;
	height: 290px;
	background: blue;
	transform: rotateX(90deg) translateZ(150px);
}

.bottom {
	width: 65px;
	height: 290px;
	background: lightgreen;
	transform: rotateX(90deg) translateZ(-40px);
}

.left {
	width: 290px;
	height: 180px;
	background: pink;
	transform: rotateY(90deg) translateZ(-150px);
}

.right {
	width: 290px;
	height: 180px;
	background: green;
	transform: rotateY(90deg) translateZ(-74px);
}	