div {
  box-sizing: border-box;
}
.mainSquare {
  background-color: #cde6d0;
  width: 90%;
  margin: auto;
  position: relative;
}

.mainSquare:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.top {
  display: flex;
  height: 16%;
  position: absolute;
  width: 100%;
  border-bottom: 1px solid black;
}

.bottom {
  display: flex;
  height: 16%;
  width: 100%;
  position: absolute;
  bottom: 0;
  border-top: 1px solid black;
}

.center {
  display: flex;
  height: 68%;
  position: absolute;
  width: 100%;
  /*  background-color: #463675;*/
  top: 16%;
}

.left {
  flex-grow: 2;
  /*  background-color: #97a2a1;*/
  height: 100%;
  position: relative;
  border-right: 1px solid black;
}

.right {
  flex-grow: 2;
  /*  background-color: #909090;*/
  height: 100%;
  position: relative;
  border-left: 1px solid black;
}

.bigSquare {
  flex-grow: 9;
}

.box {
  /*  background-color: #756e6e;*/
  flex-grow: 1;
  border-right: 1px solid black;
}

.box-side {
    height: 11.16%;
    border-bottom: 1px solid black;
}

.box-corner {
/*  background-color: #78789e;*/
  flex-grow: 2;
}

div.box-corner:nth-child(1) {
  border-right: 1px solid black;
}