div {
	box-sizing: border-box;
	text-transform: uppercase;
}

.responsive {
    background: #cde6d0;
    width: 80vw;
    height: 80vw;
    margin: 10px auto;
}

.mainSquare {
	height: 100%;
}

.row {
	width: 100%;
	display: flex;
}

.top {
	height: 15.384615385%;
}

.center {
	height: 69.23076923%;
}
.square1 {
	outline: 1px solid black;
	flex-grow: 1;
	position: relative;
}

.square2 {
	flex-grow: 2;
	outline: 1px solid black;
	display: flex;
	flex-direction: column;
}

.square9 {
	flex-grow: 9;
	outline: 1px solid black;
}

.squareSide {
	outline: 1px solid black;
	width: 100%;
	flex-grow: 1;
	position: relative;
}

.header {
	height: 21%;
	position: absolute;
	outline: 2px solid black;
	background: grey;
	/* width: 100%; */
}

.headerSide {
	/* height: 100%; */
	width: 21%;
	position: absolute;
	outline: 2px solid black;
}

.header-top {
	bottom: 1px;
	left: 1px;
	right: 1px;
}

.header-bottom {
	top: 1px;
	left: 1px;
	right: 1px;
}

.header-left {
	top: 1px;
	bottom: 1px;
	right: 1px;
	background: grey;
}

.header-right {
	top: 1px;
	bottom: 1px;
	left: 1px;
	background: grey;
}

.firstLine {
	position: absolute;
	font-size: 0.7vw;
	font-weight: 500;
	line-height: 1vw;
	text-align: center;
}

.firstLine-top {
	left: 1px;
	right: 1px;
	bottom: 30%;
	height: 10%;
}

.firstLine-top.no-color {
	bottom: 12%;
}

.firstLine-left {
	top: 0px;
	bottom: 0px;
	right: 42%;
}

.firstLine-left.no-color {
	right: 23%;
}

.firstLine-right {
	top: 0;
	bottom: 0;
	left: 42%;
}

.firstLine-right.no-color {
	left: 23%;
}

.firstLine-bottom {
	left: 0;
	right: 0;
	top: 30%;
}

.firstLine-bottom.no-color {
	top: 12%;
}

.red {
  background-color: #ed1b24;
}

.yellow {
  background-color: #fef200;
}

.lightblue {
  background-color: #aae0fa;
}

.brown {
  background-color: #955436;
}

.blue {
  background-color: #0072bb;
}

.green {
  background-color: #1fb25a;
}

.orange {
  background-color: #f7941d;
}

.purple {
  background-color: #d93a96;
}

.rotation1 {
  transform: rotate(90deg);
}

.rotation2 {
  transform: rotate(180deg);
}

.rotation3 {
  transform: rotate(-90deg);
}

.logo {
	width: 46%;
	background: #ed1b24;
	position: absolute;
	transform: rotateZ(-45deg) translateX(-27%) translateY(237%);
	border: 3px solid black;
	text-align: center;
	font-size: 7.1vw;
	color: white;
	font-family: futura;
	text-shadow: -3px 3px 0px black;
	box-shadow: inset 0px 2px 12px 0px white;
}


