html, body {
  background-color: black;
}

h1 {
  color: white;
  font-family:  "Oswald";
}

#calcOutput {
  background-color: white;
  width: 250px;
  height: 75px;
  border-top-left-radius: 2em;
  border-top-right-radius: 2em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  padding-top: 20px;
  border: 2px solid grey;
  overflow: hidden;
}

#calculator {
  background-color: grey;
  width: 250px;
  padding-top: 20px;
  padding-bottom: 30px; 
  border-bottom-left-radius: 2em;
  border-bottom-right-radius: 2em;
  margin-left: auto;
  margin-right: auto;
}

#steps {
  padding-left: 50px;
  font-size: 2em;
}

.bigButton {
  width: 80px;
}

.btn {
  padding: 6px 6px;
}

a {
  margin: 5px;
  width: 35px;
  height: 35px;
}