body {
	background-color: #ecf0e7 !important;
}
.container  {
	margin: 10px auto;
	color: white;
	font-family: arial;
	font-family: "Droid+Serif", serif;
	max-width: 60%;
}
.container h1 {
	font-family: "Oswald", sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 3em; 
}
#header {
	background: #5c5457;
	border: 2px white solid;
	border-radius: 5px;		
}
img {
	width: 70px;
	border-radius: 50%;
}
.col-md-4 {
	padding: 1% 0; 
	width: 30%;
	margin: 0;
	margin-bottom: 4px;
}
.row {
	background: rgba(0,0,0,.5);
	border: 2px white solid;
	margin: 10px 0 !important;	
	border-radius: 5px;	
}
h3 {

}