body {
	background-image: url('http://cdn.backgroundhost.com/backgrounds/subtlepatterns/retina_wood.png');
}

.gameboard {
	width: 360px;
	margin: 40px auto 0 auto;
}

.row {
	clear: both;
	overflow: hidden;
}

.square {
	float: left;
	height: 100px;
	width: 117px;
	text-align: center;
	font-size: 80px;
	padding-top: 15px;
	color: #461F00;
	text-shadow: 5px 1px 1px black;
}

.bottom {
	border-bottom: 4px solid #392E20;
}

.right {
	border-right: 4px solid #392E20;
}

.result {
	position: absolute;
}