body {
	background-color: black;
}

.gameboard {
	width: 360px;
	margin: 40px auto 0 auto;
}

.row {
	clear: both;
	overflow: hidden;
}

.square {
	float: left;
	height: 84px;
	width: 119px;
	text-align: center;
	font-size: 50px;
	padding-top: 35px;
	color: white;
}

.bottom {
	border-bottom: 1px solid white;
}

.right {
	border-right: 1px solid white;	
}