@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Indie+Flower');
@import url('https://fonts.googleapis.com/css?family=Orbitron');

@font-face{
 font-family:'TicTacToe';
 src: url('TicTacToe.ttf');
}

body {
	background-image: url('http://cdn.backgroundhost.com/backgrounds/subtlepatterns/retina_wood.png');
	min-width: 650px;
	max-width: 900px;
	display: flex;
	margin: 40px auto 20px auto;
}

.gameboard {
	width: 360px;
}

.center {
	flex-grow: 0;
}

.row {
	clear: both;
	overflow: hidden;
}

.square {
	float: left;
	height: 100px;
	width: 117px;
	text-align: center;
	font-size: 80px;
	padding-top: 15px;
	color: #461F00;
	text-shadow: 5px 1px 1px black;
}

.bottom {
	border-bottom: 4px solid #392E20;
}

.right {
	border-right: 4px solid #392E20;
}

.left-side {
	flex-grow: 1;
	text-align: center;
}

.right-side {
	font-family: 'Lato';
	flex-grow: 1;
	text-align: center;
}

.left-side .row {
	font-size: 50px;
	font-family: 'TicTacToe';
	text-shadow: 1px 1px 1px black;
	padding: 5px;
}

.score {
    background: black;
    color: red;
    height: 50px;
    font-size: 35px;
    flex-grow: 1;
    margin: 0;
    border-radius: 4px;
    font-family: 'Orbitron';
    display: flex;
    justify-content: center;
    align-items: center;
}

.player {
    display: flex;
    align-items: center;
    height: 100px;
    padding-right: 5px;
}

.player-name {
	flex-grow: 2;
}