@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One|VT323|Oswald');

.container {
	margin: 30px auto;
	height: 500px;
	width: 500px;
	border-radius: 100%;
	background: #333;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 0px 0px 12px #222;
}

.container-in {
	position: relative;
	background: #333;
	display: flex;
	justify-content: center;
	height: 90%;
	border-radius: 100%;
	width: 90%;
	align-items: center;
}

.top-part {
    height: 50%;
    width: 100%;
    position: absolute;
    top: 0;
}

.center-part {
	position: absolute;
	height: 200px;
	width: 200px;
	border-radius: 100%;
	background: #333;
	display: flex;
	justify-content: center;
	align-items: center;
}

.bottom-part {
	height: 50%;
	width: 100%;
	position: absolute;
	bottom: 0px;
}

.top-part .left-side {
	position: absolute;
	height: 96%;
	width: 48%;
	background: #00a74a;
	left: 0;
	border-top-left-radius: 100%;
}

.top-part .right-side {
	position: absolute;
	height: 96%;
	width: 48%;
	background: #9f0f17;
	right: 0;
	border-top-right-radius: 100%;
}

.bottom-part .left-side {
	position: absolute;
	height: 96%;
	width: 48%;
	background: #cca707;
	left: 0%;
	bottom: 0px;
	border-bottom-left-radius: 100%;
}

.bottom-part .right-side {
	position: absolute;
	height: 96%;
	width: 48%;
	background: #094a8f;
	right: 0%;
	bottom: 0px;
	border-bottom-right-radius: 100%;
}

.green.light {
	background: #13ff7c;
}

.red.light {
	background: #ff4c4c;
}

.yellow.light {
	background: #fed93f;
}

.blue.light {
	background: #1c8cff;
}

.center-part-in {
	width: 90%;
	height: 90%;
	position: absolute;
	border-radius: 100%;
	display: flex;
	justify-content: center;
	box-shadow: 0 0 0 2px #c0c0c0;
}

.logo {
    font-size: 40px;
    height: 50px;
    top: 19%;
    position: absolute;
    font-family: 'Alfa Slab One';
    color: #c0c0c0;
}

.logo span {
	font-size: 20px;
	top: -10px;
	position: relative;
}

.button-container {
	height: 54%;
	width: 98%;
	background: #c0c0c0;
	position: relative;
	top: 45%;
	border-radius: 0 0 90px 90px;
}

.row {
	display: flex;
}

.count-container {
	display: inline-block;
}

.count-led {
    font-family: 'VT323', monospace;
    color: #DC0D29;
    padding: 0px;
    font-size: 2em;
    width: 50px;
    background-color: #32050C;
    position: relative;
    border: 4px solid #222;
    border-radius: 10px;
    margin: auto;
    text-align: center;
}

.round-button {
    width: 20px;
    height: 20px;
    position: relative;
    background-color: yellow;
    border-radius: 100%;
    border: 4px solid #444;
    box-shadow: 0px 2px 3px #222;
    margin: auto;
    top: -5px;
}

.label {
	color: #222;
    font-family: 'Oswald',Arial,sans;
    font-size: 0.7em;
    margin-top: 5px;
    text-align: center;
}