@import url('https://fonts.googleapis.com/css?family=Orbitron');

@font-face{
 font-family:'digital-7';
 src: url('digital-7.ttf');
}

body {
	background: #f1f1f1;
	margin-top: 150px;
}

.container {
	height: 250px;
	width: 600px;
	background: darkgray;
	margin: 50px auto 11px auto;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50px;
	box-shadow: 3px -2px 1px 0px #3a3738;
	z-index: 1;
	background-image: linear-gradient(darkgrey,grey);
	border: 1px solid black;
}

.container:after {
    content: '';
    position: absolute;
    top: 2px;
    left: 6%;
    width: calc(89% - 4px);
    height: 2%;
    background: linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0.2));
    border-top-left-radius: 90px;
    border-top-right-radius: 90px;
}

.display {
	width: 450px;
	border-radius: 4px;
	background-image: linear-gradient(rgba(0, 0, 0, 0.74),black);
}

.display:after {
    content: '';
    position: absolute;
    top: 54px;
    left: 78px;
    width: calc(75% - 4px);
    height: 57%;
    background: linear-gradient(rgba(255, 255, 255, 0.12), rgba(255, 255, 255, 0.08));
}

.timer {
	font-size: 80px;
	width: 100%;
	text-align: center;
	color: #00ffff;
	/* visibility: hidden; */
	font-family: 'digital-7';
	margin-bottom: -5px;
	margin-top: 5px;
}

.subMinute {

}

button.startStop {
	position: absolute;
	margin-top: 16%;
	height: 25px;
	width: 150px;
	border-radius: 5px;
	border: 1px solid black;
	color: red;
	outline: 0;
}

button.startStop:after {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    width: calc(100% - 4px);
    height: 50%;
    background: linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0.2));
}

.button-side {
    position: absolute;
    font-size: 30px;
    border: 2px solid black;
    height: 60px;
    width: 33px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
	background-image: linear-gradient(darkgrey, grey);
}

.button-side:after {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    width: calc(100% - 4px);
    height: 50%;
    background: linear-gradient(rgba(255, 255, 255, 0.05), rgba(255,255,255,0.2));
}

.addMinute {
    left: 4%;
    top: 21%;
}

.addMinuteBreak {
    left: 4%;
    top: 54%;
}

.subMinute {
    right: 4%;
    top: 21%;
    letter-spacing: -4px;
}

.subMinuteBreak {
    right: 4%;
    top: 54%;
    letter-spacing: -4px;
}

.button-side:active {
	color: white;	
}

.logo {
	position: absolute;
	top: 9%;
}

.support {
	position: absolute;
	height: 10px;
	width: 80px;
	background: #272709;
	border: 1px solid black;
	border-radius: 3px;
	/* box-shadow: 4px -3px 1px 2px #3a3738; */
	z-index: 0;
}

.support1 {
	top: 100%;
	left: 12%;
}

.support2 {
	left: 74%;
	top: 100%;
}

.table {
	height: 100px;
	width: 100%;
	background: #392E20;
}