@import url('https://fonts.googleapis.com/css?family=Orbitron');
@import url('https://fonts.googleapis.com/css?family=Lato');

@font-face{
 font-family:'digital-7';
 src: url('digital-7.ttf');
}

body {
	background: #f1f1f1;
	margin-top: 150px;
}

.container {
	height: 250px;
	width: 600px;
	background: darkgray;
	margin: 50px auto 11px auto;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50px;
	box-shadow: 3px -2px 1px 0px #3a3738;
	z-index: 1;
	background-image: linear-gradient(darkgrey,grey);
	border: 1px solid black;
}

.container:after {
    content: '';
    position: absolute;
    top: 2px;
    left: 6%;
    width: calc(89% - 4px);
    height: 2%;
    background: linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0.2));
    border-top-left-radius: 90px;
    border-top-right-radius: 90px;
}

.display {
	width: 450px;
	border-radius: 4px;
	background-image: linear-gradient(rgba(0, 0, 0, 0.74),black);
	position: relative;
	height: 145px;
}

.display:after {
    /*content: '';*/
    position: absolute;
    top: 3px;
    left: 3px;
    width: calc(100% - 6px);
    height: calc(100% - 6px);
    background: linear-gradient(rgba(255, 255, 255, 0.12), rgba(255, 255, 255, 0.08));
}

.timer {
	font-size: 80px;
	width: calc(80% - 8px);
	text-align: center;
	color: #00ffff;
	font-family: 'digital-7';
	margin-top: 5px;
	position: absolute;
	left: calc(10% - -4px);
}

.second-timer {top: 50%;}

.subMinute {

}

button.startStop {
	position: absolute;
	height: 25px;
	width: 150px;
	border-radius: 5px;
	border: 1px solid black;
	color: red;
	outline: 0;
	top: 85%;
	left: 37.5%;
}

button.startStop:after {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    width: calc(100% - 4px);
    height: 50%;
    background: linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0.2));
}

.button-side {
    position: absolute;
    font-size: 30px;
    border: 2px solid black;
    height: 60px;
    width: 33px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
	background-image: linear-gradient(darkgrey, grey);
}

.button-side:after {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    width: calc(100% - 4px);
    height: 50%;
    background: linear-gradient(rgba(255, 255, 255, 0.05), rgba(255,255,255,0.2));
}

.addMinute {
    left: 4%;
    top: 21%;
}

.addMinuteBreak {
    left: 4%;
    top: 54%;
}

.subMinute {
    right: 4%;
    top: 21%;
    letter-spacing: -4px;
}

.subMinuteBreak {
    right: 4%;
    top: 54%;
    letter-spacing: -4px;
}

.button-side:active {
	color: white;	
}

.logo {
	position: absolute;
	top: 9%;
	left: 48.5%;
}

.support {
	position: absolute;
	height: 10px;
	width: 80px;
	background: #272709;
	border: 1px solid black;
	border-radius: 3px;
	/* box-shadow: 4px -3px 1px 2px #3a3738; */
	z-index: 0;
}

.support1 {
	top: 100%;
	left: 12%;
}

.support2 {
	left: 74%;
	top: 100%;
}

.table {
	height: 100px;
	width: 100%;
	background: #392E20;
	min-width: 700px;
	position: relative;
}

.progress-bar {
	position: absolute;
	height: calc(100% - 6px);
	width: 10%;
}

.progress-bar-left {
	top: 3px;
	left: 3px;
	background: green;
}

.progress-bar-right {
	top: 3px;
	right: 3px;
	background: red;
}

.loading {
	height: 1%;
	width: 100%;
	background: black;
}

.icon-left {
	left: 18.5%;
	color: #00ffff;
	position: relative;
}

.icon-left .heart {
	position: absolute;
	top: 30px;
}

.icon-left .stop {
	position: absolute;
	top: 101px;
}

.icon-right {
	left: 79%;
	color: #00ffff;
	position: relative;
}

.icon-right .bell {
	position: absolute;
	top: 30px;
}

.flash-icon {
	visibility: hidden;
}

.footer {
  font-size: 25px;
  color: #392e20;
  text-shadow: 1px -1px 1px rgb(23, 16, 7);
  position: absolute;
  right: 3%;
  top: 46%;
  font-family: 'Lato';
}

.footer a {
  text-decoration: none;
  color: rgba(255, 165, 0, 0.2);
}

.squareLoading {
    border: 1px solid black;
    height: 1px;
}